/node_modules
/public/hot
/public/storage
/public/uploadedFiles
/public/SliderImages
/public/Logos
/public/Genre_Images
/public/ProfilePics
/public/Favicon
/public/Loading_Icons
/public/uploadedCoverArts
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
