/node_modules
/public/hot
/public/storage
/public/uploadedFiles
/public/Genre_Images
/public/ProfilePics
/public/uploadedCoverArts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
